# https://docs.ansible.com/ansible/latest/modules/pip_module.html
---
- name: Install core pip packages
  become: yes
  become_user: "{{ username_of_a_local_user }}"
  pip:
    name:
      - pillow
      - numpy
      - matplotlib
    extra_args: --user
